
<h3>Welcome {{request.user}} to the cart</h3>
<div class="container">
    <div class="h4 pb-2 mb-4 text-danger text-center border-bottom border-danger my-3">Cart</div>
<div class="card">
<div class="row">
    {%for i in data%}
    <div class="col-4 d-flex align-items-center pt-3">
        <img src="{{i.item.product_image.url}}" class="rounded-start" alt="" style="height: 300px;">
        
    </div>
    <div class="col-8">
    <div class="card-body mt-3">
        <div class="card-title fw-bolder">
            {{i.item.name}}
        </div>

    </div>
    <ul class="list-group list-group-flush my-1">
        <li class="list-group-item">Description:{{i.item.description}}</li>
        <li class="list-group-item">Quantity:{{i.item.quantity}}</li>
        <li class="list-group-item">original_price:{{i.item.original_price}}</li>
        <li class="list-group-item">selling_price:{{i.item.selling_price}}</li>
        <li class="list-group-item">
            <div class="input-group" style="width: 150px;">
                <button class="input-group-text bg-success text-light" name="" id=""><i class="fa-solid fa-plus"></i></button>
                <input type="text" name="" id="" value="" class="form-select text-danger">
                <button class="input-group-text bg-success text-light" name="" id=""><i class="fa-solid fa-minus"></i></button>
        
            </div>
            </li>
    
    <li class="list-group-item">
    <p><span><a href="#" class="btn btn-success">Buynow</a></span>
        <span><a href="{% url 'cartdel' i.id %}"class="btn btn-success">Remove</a></span></p>
    </li>
  
    
</ul>
</div>




{%endfor%}
</div>
</div>
</div>{%extends "store/base.html"%}
{% block maincarousal %}
{% endblock %}
{% block content %}
{%endblock%}